.image-container{
    position: relative;
    width: 44vw;
    height: 45vw;
    z-index: 1;
}

.i4{
    height: 80vh;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 10vw 4vw;
    row-gap: 3vw;
    align-items: center;

}

.content h1{
    font-size: 5vw;
    font-weight: bold;
}

.s{
    display: flex;
    flex-direction: column;
   
  
}

.container{
    display: flex;
    flex-wrap: wrap;
    padding: 3vw 0;
    justify-content: space-between;
    
}

.container p{
    max-width: 42%;
}

h2{
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;

}

p{
    font-size: 1.5vw;
}

.section-1{
    display: flex;
    flex-direction: column;
align-items: center;
}


@media (max-width: 768px) {
    .container{
        flex-direction: column;
        align-items: center;
        row-gap: 5vw;
      
        
    }

    .container p{
        max-width: 80%;
    }

    .s{
        align-items: center;
    }

    .content{
        padding: 10vw 4vw;
        row-gap: 5vw;

    }

    .image-container{
        width: 80%;
       
    }
    h2{
        font-size: 4vw;}
}

@media (max-width: 768px){
    .content{
        padding: 20vw 4vw;

    }

}