@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&display=swap');


.pet-banner{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 2vw;

}

.animal-img-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
    row-gap: 2vw;
    justify-content: center;
}


.animal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vw 8vw;
}

.pet-banner{
    display: flex;
    gap: 2vw;
    flex-wrap: wrap;
    justify-content: center;
}

.pet h1{
    padding: 3vw 0;
    font-size: 5vw;
    font-weight: bold;
    font-family: "Protest Strike", sans-serif;

}

.animal-img{
    border-radius: 30px;
}

.animal-info{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    gap: 2vw;
    font-family: "Protest Strike", sans-serif;

}

.animal-info h2{
    font-weight: bold;
    font-size: 3vw;
    color: purple;
}

.animal-info h3{
    font-weight: 500;
    font-size: 3vw;
}

.pet h1{
    color: purple;
}

.pet h3{
    color: rgb(56, 18, 95);
}


.button-container{
    font-size: 1vh;
    padding-top: 2vw;
    transition: transform 0.3s ease-in-out;
    margin-top: 5vw;
    font-family: "Protest Strike", sans-serif;

   
   }
   
   .button{
   
    font-size: 2vw;
    font-weight: bold;
    border-radius: 25px;
    padding: 1vw 3vw;
    text-transform: uppercase;
    font-size: 2.5vw;
   
   }
   
   .button-container:hover {
     transform: scale(1.05);
   }



   @media (max-width: 1024px) {
    
    .button{
    font-size: 3vw;
    padding: 0.7vh 3vw;
    
    }}
    

@media screen and (max-width: 550px) {
    .animal{
        padding: 20vw 4vw ;
    }
    .pet h1{
        font-size: 10vw;
    }
    .animal-main-img {
        width: 350px;
        height: auto;
    }
    .animal-info {
        font-size: 5vw;
    }

    .animal-info h2, .animal-info h3{
      
        font-size: 7vw;
    }

    .button{
        font-size: 6vw;
        padding: 3vw 4vw;
        
        }
    
}

