@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&display=swap');


.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    padding: 10vw 8vh;
    gap: 5vw;
      font-family: "Protest Strike", sans-serif;

}




.text-section{
    width: 90%;
}

.text-section h1{
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    color: purple;
    padding-bottom: 5vw;
}

.stories-section{
    padding: 6vw 3vw;
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    justify-content: center;
    
}


.text-section p{
    font-size: 2vw;
    line-height: 3rem;
}



@media screen and (max-width: 700px){
    
    .blog{
        
        padding: 20vw 1vw;
      
    }

    .text-section h1{
        font-size: 6vw;
      
    }

    .text-section p{
        font-size: 3.5vw;
line-height: 2rem;
    }

    .stories-section{
        gap: 10vw
    }
    
     
}