.pets{
    display: flex;
    flex-direction: column;
  
    padding: 10vw 8vh;
    gap: 5vw;
}

.text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6vh;

    
}


.text-section h1{
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
}

.pets-section{
    display: flex;
    justify-content: center;
}


.text-section p{
    font-size: 1.5vw;
}



@media screen and (max-width: 600px){
    
    .pets{
        
        padding: 10vw 5vw;
      
    }
     
}