.filtering-options-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}


.btn{
    padding: 0.5vw 2vw;
    border-radius: 1.5rem;
    font-size: 1.5vw;
    font-weight: bold;
    
}