.filtering-options-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}


.btn{
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    
}