
html, body {
  overflow-x: hidden;


}

.main{
  font-family: "Protest Strike", sans-serif;

}

.background-container, .bg-cnt-2{
  position: relative;
 height: 100vh;
 text-transform: uppercase;
 z-index: 1;

}




.bg-cnt-2 span{
text-transform: none;
line-height: 3rem;

}


.content-container, .cnt-4{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
row-gap: 2vw;
text-align: center;
z-index: 2;

 
}


.cnt-4{
  text-align:start;
  left: 35%;

}

.cnt-4 {
  color: black;
  row-gap: 5vw;
}

.cnt-4 h1{
  font-size: 5vw;
  color: purple;
  align-self: flex-start;
}
.cnt-4 span{
font-size: 2.5vw;
font-weight: 400;
line-height: 3rem;

}

.content-container h1 {
 font-size: 3.5vw; 
 color: white;

}

.content-container span {
  font-size: 2vw; 
  color: white;
  
 
 }

 #section-2 h1{
  color: black;

 }


#section-2{
padding:  20vw 10vw;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

}

.text-cnt{
display: flex;
flex-direction: column;
row-gap: 5vh;
font-weight: 400;
}

.text-cnt h1{
font-size: 3vw;
}


.text-cnt span{
font-size: 1.5vw;
}



#section-3{
display: flex;
justify-content: center;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1vw;
  padding: 7vw 10vw;
}

.container .heading{
  font-size: 5vw;
  font-weight: bold;

}

.cards-cnt{
  display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: space-around;
padding: 1vw 0vw;
}

.bg-cnt-2{
background-image: url('/bg2.png');
background-size: 100%;
background-repeat: no-repeat;
}  

#section-5{
  display: flex;
  justify-content: center;
}

.section{
  padding: 5vw 0;
}

.section h1{
  color: purple;
}







@media (max-width: 1024px) {
.background-container, .bg-cnt-2 {
   height: 90vh;
}

.home-container {
   padding-top: 30vh;
   padding-bottom: 10vh;
   width: 100%;
}

.content-container  {
   font-size: 4.5vw;
 padding-top: 1vh;
}




}

@media (max-width: 768px) {
.background-container, .bg-cnt-2 {
   height: 50vh;
}

.content-container{
 row-gap: 1.5vh;
}

.main{
  content: fit;
}

#section-3 .container h1{
  font-size: 8vw;
}


}

@media (max-width: 500px) {
  .background-container .content-container .button{
    font-size: 4vw;
  }
  .background-container {
    height: 35vh;
 }
  .text-cnt h1, .cnt-4 h1, #section-5 h1{
    font-size: 8vw;
    }

  

    .content-container h1{
      font-size: 4vw;
    }

    .text-cnt span{
      font-size: 4vw;
      }

      
    h1{
      font-size: 8vw;
      }
    

    

      .cnt-4{
        width: 80%;
        text-align:start;
        left: 50%;
        text-align: center;
        
      }

      .cnt-4 span{
        font-size: 4.5vw;
        
      }


  
}