
  
  .card-slider-container {
    display: flex;
    flex-direction: column;
  }
  
  .slider-btn {
    align-self: flex-end;
  }
  

  .card-slider {
      position: relative;
      height: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .section-container .card-container {
      display: flex;
      column-gap: 2vw;
  }
  
  .right-arrow {
      position: absolute;
      top: 40%;
      right: -7vw;
      color:  rgb(147 51 234);
      font-size: 4rem;
      cursor: pointer;
      z-index: 1;
    }
  
    .left-arrow {
      position: absolute;
      top: 40%;
      left: -7vw;
      color: rgb(147 51 234);
      font-size: 4rem;
      cursor: pointer;
      z-index: 1;
    }
  
    @media screen and (max-width: 950px){
      .slider-btn {
        align-self: center;
      }
    }
  
    @media screen and (max-width: 550px) {
      .left-arrow, .right-arrow{
        z-index: -2;
      }
   }