@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&display=swap');

.background-container{
    position: relative;
   height: 70vw;
  
  }

  .background-container img{
 
   z-index: -5;
  
  }

.button-container{
    padding-top: 2vw;
    transition: transform 0.3s ease-in-out;
   
   }

.button:hover {
    transform: scale(1.05);
}
   
.button{
   
    font-weight: bold;
    border-radius: 25px;
    padding: 1vw 3vw;
    font-size: 2.5vw;
   
} 

.text{

    font-family: "Protest Strike", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20%;
    padding-left: 5vw;
    row-gap: 2vw;
    font-size: 2.5vw;
    font-weight: bold;
}



.text .p1{
    font-size: 6vw;
}

@media (max-width: 800px) {
    .text{
        padding:  31% 10vw ;
        
    }

}

@media (max-width: 500px) {
    .text{
        padding-left: 20vw;
    }
    
.text{
    
    font-size: 3.5vw;

}

.button{
   

    font-size: 4vw;
   
} 



.text .p1{
    font-size: 8vw;
}


    
}